<div *ngIf="medicalRecord$ | async as medicalRecord" class="bg-gray-100 h-screen">
  
  <div class="container mx-auto py-8">
    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow">
      <div class="px-6 py-4">
        <h2 class="text-2xl font-semibold mb-4">Medical Record Details</h2>
        <div class="container mx-auto p-4 relative">
          <!-- Edit Button -->
          <button class="absolute top-0 right-0 mt-2 mr-2 bg-transparent text-gray-600 hover:text-gray-800">
            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M14 2l4 4-10 10H4v-4L14 2z"></path>
            </svg>
          </button>
          <!-- Medical Record Attributes -->
          <div class="mb-6">
            <label class="text-gray-600">Condition:</label>
            <p class="text-gray-800">{{ medicalRecord.title }}</p>
          </div>
          <div class="mb-6">
            <label class="text-gray-600">Description:</label>
            <p class="text-gray-800">{{ medicalRecord.desc }}</p>
          </div>
          <div class="mb-6">
            <label class="text-gray-600">Start Date:</label>
            <p class="text-gray-800">{{ convertToReadableTime(medicalRecord.start_date) }}</p>
          </div>
          <div class="mb-6">
            <label class="text-gray-600">Status:</label>
              <div class="flex items-center">
                <label for="statusToggle" class="flex items-center cursor-pointer">
                  <div class="relative">
                    <input id="statusToggle" type="checkbox" class="sr-only">
                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                  </div>
                  <div class="ml-3 text-gray-800">Active</div>
            </label>
          </div>
          </div>
          <!-- Medications -->
          <!-- <div class="mb-6">
            <label class="text-gray-600">Medications:</label>
            <ul class="list-disc list-inside">
              <li *ngFor="let treatment of medicalRecord.treatments" class="text-gray-800">
                {{ treatment }}
              </li>
            </ul>
          </div> -->
          <!-- Treatments -->
          <div class="mb-6">
            <label class="text-gray-600">Treatments:</label>
            <ul class="list-disc list-inside">
              <li *ngFor="let treatment of medicalRecord.treatments" class="text-gray-800">
                {{ treatment }}
              </li>
            </ul>
          </div>
          <!-- Buttons Container -->
          <div class="flex justify-end">
            <!-- Create Medication Button -->
            <!-- <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded mr-2">
              Add Medication
            </button> -->
            <!-- Create Treatment Button -->
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
              Add Treatment
            </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
