<app-navbar *ngIf="!(authService.isLoggedIn$ | async)"></app-navbar>
<app-usernav *ngIf="authService.isLoggedIn$| async"></app-usernav>
<!-- <app-navbar></app-navbar> -->
<main class="flex-grow">
  <router-outlet></router-outlet>
</main>
<footer class="bg-gray-200 py-4">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between">
      <div>
        <span class="text-gray-600">&copy; 2023 HygeiaTab. All rights reserved.</span>
      </div>
      <div>
        <span class="text-gray-600">MJB Idea.</span>
      </div>
    </div>
  </div>
</footer>
